.header_sync{	
	background-image: url(script_save.png);
	background-repeat: no-repeat;
	padding: 2px 0 3px 20px;
	margin-left: 15px;
}

.files_updated_msg{
	background-image:url(../../../../system/themes/default/images/current.gif);
  	background-position:0 50%;
  	background-repeat:no-repeat no-repeat;
	color:#8AB858;
  	font-size:14px;
  	margin:3px 18px 9px;
 	padding:6px 0 8px 36px;
}

.files_updated{
	margin:3px 18px 9px;
	padding:6px 0 8px 36px;
}